SECRET_KEY=<ur_secret_key>
DEBUG=True

DB_NAME=datum_db
DB_USER=<ur_user>
DB_PASSWORD=<ur_password>
DB_HOST=localhost
DB_PORT=5432

ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000